.btn_bg{
    width:120px;
    height:30px;
    cursor:pointer;
    background:#dedeee;
}
.but_right{
    margin-left: 200px;
    margin-top: 30px;
}
.W_input{
    width: 220px;
    height: 28px;
}
.btn_weight{
    width:91px;
    height:27px;
    border-width:0px;
    background-image:url(../images/center_right_btn_3.jpg);
    cursor:pointer;
}
.btn_weight_min{
    width:45px;
    height:27px;
    border:none;
    background-image:url(../images/center_right_btn_3.jpg);
    cursor:pointer;
}
.btn_dailyreg{
    margin-left:350px;
    margin-top:40px;
}
.btn_reviewdaily{
    margin-top:40px;
}
.btn_reviewdailycx{
    margin-left:100px;
}
.x_color{
    color: red;
    margin-right: 5px;
}
.dotline {
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    border-top-style: dotted;
}