*{ margin:0; padding:0;}
body{ font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px;}
body img{ border:0;}
#wrap{ margin:0 auto; width:100%; position:relative;}
.wrapper{ margin:0 auto; width:100%; background:url(../Images/login.png) repeat-y; height:750px; overflow:hidden;}
a:link {color: #000; text-decoration:none; }     /* 未访问的链接 */
a:visited {color: #000; text-decoration:none;}  /* 已访问的链接 */
a:hover{color:#CD0000;}
.clear{clear:both}
a:active {outline: none;}
a{ blr:expression(this.onFocus=this.blur()); /* IE Opera */ outline:none; /* FF Opera */ } a:focus{ -moz-outline-style: none; /* FF */ } 
a{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */ 　 
a{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */ 　 
a:focus {-moz-outline-style: none; } /* IE不支持 */

/**********************header strat***************************/
#header { height:66px; background:url(../Images/header_bg.png) repeat-x;}
#logo{ width:215px; height:29px; background:url(../Images/logo.png) no-repeat; position:relative; top:20px; left:30px; float:left;}
.text_h4{ float:left; padding:30px 0 0 100px; font-size:14px; color:#fff;}
.nav{ float:right; padding:30px 30px 0 0;}
.nav ul { list-style:none;}
.nav ul li{ float:left; text-align:center}
.nav ul li a{ width:60px; height:20px;line-height:20px; display:block; float:left; text-decoration:none; color:#FFF;}
/**********************header end***************************/

#menu { height:30px; background:#464545; margin-bottom:5px; line-height:30px;}
#menu span{ margin-left:20px;}
#menu span img{ margin-right:5px;}
#menu a { color:#fff; text-decoration:none;}
.map{ float:left;}
.search{ float:right; margin-right:200px;}
.search input{ height:20px; line-height:20px;}
#btn{ width:40px; height:23px; border:none;cursor:hand; background:#dedede}
.btn{ width:40px; height:23px; border:none;cursor:hand; background:#dedede;}
#btn_bg{ width:40px; border:none;cursor:hand; background:#dedede;}
.btn_bg{ width:40px; height:23px; border:none;cursor:hand; background:#dedede;}
/**********************mainContern strat***************************/
#mainContent { height:680px; margin-bottom:5px;}
/**********************left-sider strat***************************/
.color_ff{ color:#48a66d; width:15px; margin-top:4px;}
#bg_ff{ background:#236195;}
.c_ff{ color:#fff;}
#sidebar {  float: left;height:633px;margin-left:10px; }
.sidebar_nav{ float:left; font-weigth:bold;}
.sidebar_nav ul { list-style:none;}
.sidebar_nav ul li { width:20px; margin-bottom:5px;height:50px; text-align:center;line-height:25px; display:block; background:#e9eaeb;font-weight:600;}
.sidebar_nav ul li a:link { width:20px; height:50px; display:block; text-decoration:none; text-align:center; line-height:25px; border-radius:2px;}
.sidebar_nav ul li a:hover{ background:#5385AF; width:20px; height:50px; display:block; color:#FFF;}
.sidebar_nav ul li a:active{ outline: none; star:expression_r(this.onFocus=this.blur()); background:#5385AF; width:20px; height:50px; display:block; color:#FFF;}

.menu2={ width:20px; margin-bottom:5px;height:50px; text-align:center;line-height:25px; display:block; background:#5385AF;color:#F00}

.siderbar_main{ float:left; border:1px solid #ccc; height:633px; width:145px; text-align:center;}
.siderbar_main h4{ height:40px; background:#5385AF; margin-bottom:5px; height:30px; line-height:30px; color:#fff;}
.siderbar_main ul { color:#bcbcbc;}
.siderbar_main ul li { margin:0 0 10px 20px; border-bottom:1px solid #eeefef; line-height:25px; text-align:left;}
.siderbar_main_a{width:70px; height:22px; display:block; text-decoration:none; line-height:22px;padding-left:2px; background:#dee7ee;}
.siderbar_main_a_a{width:70px; height:22px; display:block; text-decoration:none; line-height:22px;padding-left:2px; background:#eee;}
/**********************left-sider end***************************/
#content { height:633px; border:1px solid #ccc;overflow:auto;overflow-x:hidden;}
#content_dituo { height:0px auto;overflow:auto;overflow-x:hidden;}
.dituo_nav ul li{ height:30px; line-height:30px; }
#dituo_nav ul li a:link {color:#000;text-decoration:none; }
#dituo_nav ul li a:hover {color:red;text-decoration:underline; }
.contert_nav{ width:100%; height:30px; border-bottom:1px solid #ccc; text-align:center; margin-bottom:5px;}
.contert_nav ul{ list-style:none;}
.contert_nav ul li{ float:left; margin-left:10px;}
.contert_nav ul li a { width:60px; height:20px; line-height:20px; background:#dedede; display:block; text-align:center; margin-top:4px;}
.contert_main{}
.contert_main_dituo{ border-bottom:1px solid #ccc;}
.contert_main_dituo h3{ height:30px; line-height:30px;padding-left:20px;}
.contert_main h3{ height:25px; background:url(../Images/contert_main_bg.png) repeat-x; font-size:12px; font-weight:normal; padding-left:10px; line-height:25px;}
.contert_main span{}
.contert_main span select{ width:150px;}
.contert_main span input{ margin-top:2px;}
.next{ margin:4px 10px 0 0; float:right;}
.public_btn{line-height:22px;margin-top:4px;} /*按钮样式*/
.public_btn span{ margin-right:10px; float:left; }
.new_list{font-size:12px;overflow:auto;} 
.new_list td{ border-right:1px solid #ccc; border-bottom:1px solid #ccc; height:30px; line-height:30px;}
/**********************mainContern end***************************/
.shuoming{ height:130px; width:100%; margin-bottom:10px;}
.shuoming h3{ height:25px; line-height:25px; background:#5385AF; padding-left:20px; color:#fff; font-size:12px; font-weight:bold;}
.shuoming ul { list-style:none;}
.shuoming ul li { height:24px; line-height:20px; border-bottom:1px solid #ccc; padding-left:10px;}
.gongn tr{ height:30px; }
.gongn td{ border-top:1px solid #ccc; border-left:1px solid #ccc; text-align:center;}
/**********************footer strat***************************/
#footer { background:#eee; height:20px; line-height:20px; text-align:center;}
/**********************footer end***************************/

/**********************add strat***************************/
.form{ width:100%;font-size:12px;overflow:auto;}
.form th{ background:#fff; border-top:1px solid #e9eaeb; font-weight:normal; line-height:30px; padding-right:4px; text-align:right;}
.form td{ border-top:1px solid #e9eaeb; line-height:30px; padding-left:4px; text-align:left;}
.form td input{ height:20px;}
.FL{ margin-left:20px;}
/**********************add end***************************/
/**********************login strat***************************/
.divMain img{ margin-top:30px;}
.divMain form{margin-top:30%!important}
.divMain p{ height:30px; margin-left:20px;}
.divMain p span{ text-align:center;}
.divMain span{ background:#5385AF; border-radius:4px; display:block; height:20px; line-height:20px; margin-left:20px; text-align:center; width:50px; float:left;}	
#m{ margin-left:20px;}  
.login_1{ float:left;}
.login_2{ margin-top:50px;float:left;}
.divMain h3{ margin-top:20px; background:#5385AF; height:30px; line-height:30px; color:#fff;}
.footer_login{ margin-top:100px; float:left;}


/**********************城市概况 strat***************************/
.area_tree{ width:10%; float:left; padding:0 10px; border-right:1px solid #ccc; margin-right:10px; background:#f8f8f8;}
.area_tree ul{ list-style:none;}
.area_tree ul li{ line-height:30px;}
.area_tree ul li a:link{ height:30px; width:100%; text-decoration:none; color:#000;}
.area_tree ul li a:hover{ height:30px; width:100%; text-decoration:underline; color:#09F;}
#bg2{ background:#c4dafc; display:block; height:30px; text-align:left;}
.area_tree ul li ul{ list-style:none; margin-left:20px;}
.area_tree ul li ul li{ border-bottom:1px solid #ecebeb;}
.area_conterner{ float:left;}
.contert_main_zimu a{ margin-left:20px; }
.area_conterner p{ height:30px; line-height:30px; border-bottom:1px solid #ccc;padding-left:10px;}
.area_skim{ height:572px; overflow-y:auto; overflow-x:hidden;border:1px solid #ccc;}
.area_skim h2{ margin-top:4px;text-align: center;}
.area_skim h3 span { margin-left: 10px;}
.area_skim h4 {text-align: left;height: 30px;line-height: 30px;margin-left: 10px;font-size: 14px;}
/**********************城市概况 end***************************/

/**********************行业资料strat************************/
.business h3 {line-height:25px;height: 25px;background: url(../Images/contert_main_bg.png) repeat-x;font-weight: normal;padding-left: 10px; font-size:12px;}
.business span{ margin:0}
.business span select{ width:180px;}
.business_list tr {}
.business_list tr td {border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;}

.business p input{ float:left;height:20px; line-height:20px; margin-top:4px;}
/**********************行业资料End**************************/


/**********************法律法规 添加文档 add strat***************************/
.public_table{ width:100%}
.public_table tr{line-height:30px; padding-left:10px;}
.public_table tr td{ border-bottom:1px solid #ccc; }
.public_table tr td label{ display:block; width:80px; float:left; height:30px; line-height:30px;padding-left:10px;}
.public_table tr td input{ height:20px; line-height:20px; margin:5px 10px 0 0; }
.public_table tr td select{ height:20px; line-height:30px; margin-top:5px;}
.public { background:#f7f7f7;}
.x_color{ color:red; margin-right:4px;}
.public p{line-height:35px; border-bottom:1px solid #e2e0e0; padding-left:10px;}
.public p label{ margin-right:10px; height:30px; line-height:30px; width:80px;}
.public p input { height:22px; margin-left:3px; line-height:22px;}
.public p select{ height:22px;}
#h100{ height:155px; line-height:30px;}
#h100 label{ float:left;}
.public textarea{  margin:5px 0 0 4px;}
.text_a input{ margin:5px 10px 0 0; line-height:20px; }
 /**********************法律法规 添加文档 add end***************************/
 
 
/**********************login end***************************/
.title_other{background:#e9eaeb;}
.Mainbody{ overflow:hidden;}
.business_x_height{height:594px;overflow:hidden;}
.span_l{ margin-left:10px;}
#span_l{ margin-left:10px;line-height:30px; height:30px;}
.searchtypeheight{height:30px;float:left; color:#013c7e;line-height:30px; width:100%;}
.searchtypeheight select{ width:120px; marign-top:4px;}
.searchtypeheight span label{height:25px; margin-left:10px; line-height:25px; margin-bottom:2px;}
#w span label{ height:25px; line-height:25px; margin-right:5px;width:60px;}
#w span select{width:90px; margin:4px 0 0 0;}
#w_w label{ width:60px; height:30px; line-height:30px; float:left;}
#w_w span { float:left; height:30px; line-height:30px; margin-right:6px;}

.nooo_wrap td{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}